<div class='profile'>
  <section class='profile header'>
    <div class='container'>
      <div class='row profileRow'>
        <div class='col-sm-6 col-md-6 col-lg-4'>
          <img ng-src={{user.picture.medium}} alt='Profile picture'/>
        </div>
        <div class='col-sm-6 col-md-6 col-lg-4 pull-left'>
          <h2>{{user.name.first}} {{user.name.last}}</h2>
          <h4>{{user.title}}</h4>
          <h5>{{user.location.city}} , {{user.location.state}}</h5>
          <h5>Connections: {{user.connections}}</h5>
        </div>
    </div>
  </section>
  <section class='profile experience'>
      <h2>Experience</h2>
      <button ng-click='toggleEditMode()'><i class='fa fa-pencil'></i></button>
      <button ng-click='saveProfile(user.experience)'><i class='fa fa-floppy-o'></i></button>
    <div contenteditable={{editMode}} ng-change='saveProfile(user.experience)' ng-model='user.experience'>{{user.experience}}<div>
  </section>
  <section class='profile sale'>
    <h2>Properties For Sale</h2><button ng-click='toggleEditMode()'><i class='fa fa-pencil'></i></button>
    <button><i class='fa fa-floppy-o'></i></button>
    <div class='container'>
      <div class='row'>
        <div ng-repeat='property in user.sale'>
          <div class='col-sm-6 col-md-6 col-lg-4'>
            <img ng-src='{{property.picture}}'/>
          </div>
          <div class='col-sm-6 col-md-6 col-lg-4'>
            <h3>Asking Price: ${{property.price}}</h3>
            <h4>{{property.name}}</h4>
            <h5>{{property.location.city}} , {{property.location.state}}<h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='profile lease'>
    <h2>Properties For Lease</h2><button ng-click='toggleEditMode()'><i class='fa fa-pencil'></i></button>
    <button><i class='fa fa-floppy-o'></i></button>
  <div contenteditable={{editMode}}><div>
  </section>
</div>
